S3method(print,dzim)
S3method(print,zim)
export(bshift)
export(dzim)
export(dzim.control)
export(dzim.filter)
export(dzim.fit)
export(dzim.plot)
export(dzim.sim)
export(dzim.smooth)
export(dzinb)
export(dzip)
export(pvalue)
export(pzinb)
export(pzip)
export(qzinb)
export(qzip)
export(rzinb)
export(rzip)
export(zim)
export(zim.control)
export(zim.fit)
import(MASS)
importFrom("graphics", "points")
importFrom("stats", "binomial", "dbinom", "dgamma", "dnbinom", "dnorm",
             "dpois", "glm", "glm.fit", "model.matrix", "model.offset",
             "model.response", "model.weights", "optimize", "plogis",
             "plot.ts", "pnbinom", "pnorm", "poisson", "ppois",
             "printCoefmat", "pt", "qnbinom", "qpois", "rbinom",
             "rgamma", "rnbinom", "rnorm", "rpois", "sd", "terms", "ts",
             "window")